*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.tower{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}
.high{
    padding: 0;
    margin: 0;
    width: 30px;
    height: 230px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 20%, rgba(0,0,0,1) 100%);
    border-radius:20px 20px 0 0;
    border: black 1px solid;
}
.base{
    padding: 0;
    margin: 0;
    width: 180px;
    height: 30px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
    border: black 1px solid;
}
.disc{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 28px;
    border-radius: 10px;
    border: black 1px solid;
    transition: top 0.2s ease-in, left 0.2s ease-in;
}
.disc:hover{
    background: rgb(0, 89, 255) !important;
}
.disc:active{
    background: rgb(236, 86, 86) !important;
}